.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: var(--navbar-width);
    height: 100vh;
    padding: 8px 12px 20px;
    font-size: 1.6rem;
    border-right: 1px solid var(--border-color);
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 12px 16px;
    margin-bottom: 20px;
    img {
        position: relative;
    }
    svg {
        position: absolute;
        transform: scale(0);
        transition: 0.25s;
        visibility: hidden;
        opacity: 0;
    }
}
.actions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 11px 12px;

    margin: 2px 0;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        svg {
            transition: 0.3s;
            scale: 1.1;
        }
    }
    &.active {
        font-weight: 600;
        svg {
        }
    }
    .icon {
        display: inline-flex;
        height: 100%;
    }
    .title {
        margin-left: 16px;
    }
    .avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }
    &:last-child {
        margin-top: auto;
    }
}

.navbar-right {
    display: none;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        min-width: var(--navbar-width-tablet);
        justify-content: space-between;
    }
    .logo {
        margin-top: 16px;
        height: 48px;
        padding: 16px 12px 16px;
        border-radius: 8px;
        margin-bottom: 32px;
        cursor: pointer;
        img {
            visibility: hidden;
            opacity: 0;
            display: none;
        }
        svg {
            transform: scale(1);
            visibility: visible;
            opacity: 1;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            svg {
                transition: 0.3s;
                scale: 1.1;
            }
        }
    }
    .nav-item {
        .title {
            display: none;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .wrapper {
        flex-direction: row;
        height: 60px;
        min-width: 100%;
        border-bottom: var(--border);
        padding: 0 16px;
        align-items: center;
        background-color: #fff;
        z-index: 1000;
    }
    .actions {
        position: fixed;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: #fff;
        border-top: var(--border);
    }
    .logo {
        margin: 0;
        padding: 16px 0;

        img {
            display: inline;
            visibility: visible;
            opacity: 1;
        }
        svg {
            transform: scale(0);
            visibility: hidden;
            opacity: 0;
        }
    }
    .nav-item {
        margin: 0;
        padding: 12px;
        &:hover {
            background-color: #fff;
            svg {
                scale: 1.1;
            }
        }
    }
    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: center;
        .notify {
            display: flex;
        }
        .search-box {
            display: flex;
            align-items: center;
            padding: 0 16px;
            margin-right: 20px;
            background-color: rgb(239, 239, 239);
            border-radius: 8px;
            svg {
                width: 16px;
                height: 16px;
                color: rgb(142, 142, 142);
            }
            input {
                padding: 9px 8px;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
    .bars-icon,
    .search-icon,
    .heart-icon {
        display: none;
    }
}
